body {
    background-color: #D2B48C;
    width:750px;
	margin:0px auto;
	text-align:center;
	padding:15px;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

.header {
    font-size: xx-large;
    color: #000000;
    font-weight: bold;
    font-family: "Bell MT";
    text-align: center;
}


.menu {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}


.gridview {background-color: #F08080;
           border: solid 2px #FFFFFF; 
           border-collapse:collapse; 
           font-family:Arial; 
           color: white;
           text-align: center;
}

.gridview td {
      padding: 2px;
      border: solid 2px #FFFFFF; 

}

.gridview th  {
      padding : 4px 2px;
      color: #696969;
      background-color: #FFFF99;
      border-left: solid 2px #FFFFFF;
      font-family:Arial; 
      font-size: 1.25em; 
      text-align: center;
}

.gridview .alt {
        background-color: #FFFF99;
    }


.detailview {background-color: white; 
           border: solid 2px #000000; 
           border-collapse:collapse; 
           font-family:Arial; 
           color:  #F08080;
           text-align: center;
}

.detailview td {
      padding: 2px;
      border: solid 2px #000000; 

}

.detailview th  {
      padding : 4px 2px;
      color:  #F08080;
      background-color: #FFFF99;
      border-left: solid 2px #000000;
      font-family:Arial; 
      font-size: 1.25em; 
      text-align: center;
}

.aboutUS {
    font-family: "Segoe Print";
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    color: white;
    text-align: justify;
}

.select {
    text-decoration: none;
    color: #696969;
}

.details {
    font-weight: 700;
    font-size: large;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Arial;
}
.footer {
    font-weight: bold;
}

.validation{
    color: red;
    font-weight: bold;
    text-align:right;
}